/* https://unsplash.com/photos/H_cZqryUuok?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
body {
    font-family: 'Handlee', cursive;
}

h1,
h2 {
    font-family: 'Rouge Script', cursive;
}

a:hover {
    text-decoration: none;
}

hr {
    width: 50%;
    border-top: 3px solid rgb(220, 160, 98);
    margin-left: 25%;
}

.live-frame {
    width: 120%;
    padding: 10%;
    margin-left: -10%;
    background: url('../img/llF5iyg.gif');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 241, 246, 0.91);
    color: #ba9346;
    font-family: 'Rouge Script', cursive;
}

.preloader .loading {
    position: absolute;
    margin-top: -20%;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background: url('../img/tema/frame/preloader.png');
    background-size: contain;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    padding: 2%;
    text-shadow: black;
}

.preloader .text-load {
    font-family: 'Handlee', cursive;
    margin-left: 35%;
    width: 20%;
}

.navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    margin-bottom: -8px;
}

.modal-content {
    background: none;
    border: none;
}

.modal-sm iframe {
    border-radius: 4%;
}



/* h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    } */

/* home */
.home {
    background: url('../img/tema/Rose-body.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    color: black;
}

.tema {
    width: 99%;
}

.awal {
    position: absolute;
    height: 10%;
    margin-top: -180%;
}

.countdown {
    font-family: 'Delius', cursive;
    color: black;
}

.countdown .box-ctdn {
    padding: 2%;
}

.box-ctdn p {
    margin-bottom: 0%;
}

.ikon {
    color: black;
}


.couple,
.gallery,
.event,
.kisah,
.ayat {
    background: url('../img/tema/Rose-body.jpg');
    /* background-attachment: fixed; */
    background-size: 100%;
    background-position: right top;
    /* background-repeat: no-repeat; */
}

.turut-undang {
    width: 100%;
    margin-left: 0%;
    padding: 4%;
}

.kisah {
    margin-bottom: -80px;
}

.on-sound {
    position: fixed;
    display: inline;
    right: 15px;
    top: 15px;
    opacity: 0.6;
    z-index: 99999;
}

.off-sound {
    position: fixed;
    display: inline;
    right: 15px;
    top: 15px;
    opacity: 0.1;
    z-index: 99999;
}

.off-sound:hover {
    opacity: 0.7;
}

.frame-gbr {
    padding-right: 20%;
}

.foot {
    background: url('../img/tema/Rose-foot.jpg');
    background-size: 99%;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 370px;
    color: black;
}

.kisah-mempelai,
.isi-ayat {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Handlee', cursive;
}

.guest {
    background: white;
}

.credit {
    background: rgb(26, 25, 25);
    color: rgb(197, 194, 194);
}


.gallery img,
video {
    width: 90%;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 2%;
}

.gallery video:before {
    background-color: blue;
    position: relative;
}

#play,
#pause {
    content: '';
    position: absolute;
    width: 85%;
    height: 70%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 0;
    top: 2%;
    left: 8%;
    color: white;
}

#play2 {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    top: 35%;
    left: 45%;
    color: white;
    background: white;
}

.endctn {
    height: 100px;
    background: none;
}

.gallery img:hover {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-item {
    margin-bottom: -15px;
    /* margin-top: -3%; */
}

.nav-item p {
    margin-top: -8px;
}

/* .gallery .thumbnail{
    background: white;
} */

.frame {
    width: 100%;
    text-align: center;
}

.batas {
    width: 99%;
    text-align: center;
    margin-left: 0.5%;
}

.couple-top,
.couple-bottom {
    padding: 6%;
}

.quran {
    padding-left: 10%;
    padding-right: 10%;
}


.frame-pengantin {
    width: 200px;
    margin-top: -197px;
    margin-right: -28px;
    /* margin-right: -7%; */
}

.profil-pengantin {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;

    object-fit: cover;
    object-position: center middle;
}

.profil {
    width: 100px;
    height: 100px;
    background: #dac52c;
    border-radius: 100%;
    margin-top: 100px;

    object-fit: cover;
    object-position: center middle;
}

.play {
    background: violet;
}


.judul {
    margin-top: 10%;
    font-family: 'Bad Script', cursive;
}

.judul-1 {
    margin-top: 30%;
    height: 30%;
    font-family: 'Dancing Script', cursive;
}

.judul-2 {
    margin-top: 5%;
    font-family: 'Bad Script', cursive;
}

.judul-3 {
    margin-bottom: 0%;
    font-family: 'Handlee', cursive;
}

.pengantin {
    margin-top: -5%;
}

.profil-pengantin-bottom {
    width: 150px;
    margin-top: -151px;
    margin-left: -16px;
}


.pesan-tamu {
    margin-left: 0%;
    padding: 6%;
}


.kirimpesan {
    margin-top: 20px;
}


.carousel-item {
    min-height: 270px;
}

.carousel-caption {
    margin-bottom: -20px;
    height: 270px;
    padding-top: 10%;
}



/* tampilan laptop */
@media (min-width: 500px) {
    body {
        background: url('../img/tema/Rose.jpg');
        background-size: 100%;
        background-attachment: fixed;
        background-position: right top;
        background-repeat: no-repeat;
    }

    body:before {
        content: "";
        background: rgba(255, 241, 246, 0.91);
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .home {
        background-size: 400px;
        height: 700px;
    }

    .tema {
        width: 100%;
    }

    .couple,
    .gallery,
    .event,
    .kisah,
    .ayat {
        /* background-size: 404px; */
        background: none;
    }

    .preloader {
        width: 400px;
        bottom: 0;
        left: 50%;
        margin-left: -200px;
    }

    .bodi {
        background: url('../img/tema/Rose-body.jpg');
        background-size: 404px;
        background-position: center top;
        width: 400px;
        position: relative;
        bottom: 0;
        left: 50%;
        margin-left: -200px;
    }

    .navbar {
        width: 400px;
        position: fixed;
        bottom: 0;
        left: 50%;
        margin-left: -200px;
        height: 50px;
        z-index: 999;
    }

    .foot {
        background-size: 100%;
    }

    .guest {
        height: 120%;
    }

    .on-sound {
        opacity: 1;
    }

    .batas {
        width: 100%;
        margin-left: 0%;
    }
}


@media (min-width: 750px) {
    .bodi {
        box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }
}

/* end home */